body {
	background-color: #e4e5e0;
	font-family: "Urbanist", sans-serif;
	color: #33331d;
	margin: 0;
	padding: 0;
}

.general__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

/* Contacts */

.contacts {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	background-color: #84a268;
	/* width: fit-content; */
	padding: 20px 40px;
	border-radius: 10px;
	gap: 5%;
	margin-left: 50px;
	width: 70%;
}

.contacts__inner {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	gap: 2px;
}

.contacts__icon {
	margin-right: 10px;
	height: 20px;
	background-color: #d3c18f;
	border-radius: 7px;
	padding: 10px;
}

.contacts__inner-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0px;
	color: #e5f1da;
}

.contacts__inner-content__title,
.contacts__inner-content__text {
	margin: 0;
}

.contacts__inner-content__text--link {
	color: #e5f1da;
	text-decoration: none;
}

/* Pfp image */

.pfp {
	background-color: #d3c18f;
	padding: 60px;
	border-bottom-left-radius: 30%;

	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	max-width: 100%;
	overflow: hidden;
}

.pfp__image {
	width: 150px;
	height: 150px;
	border-radius: 40%;
	border: solid 4px #ead8a7;
}

/* Description */

.general__info {
	background-color: #b1b279;
	padding: 50px;
	border-top-right-radius: 70px;
	border-bottom-right-radius: 70px;
	margin-top: 40px;
	margin-right: 80px;
	display: flex;
}

.description__content {
	flex: 1;
	margin-right: 60px;
	text-align: justify;
	text-justify: inter-word;
}

.name {
	font-size: 3.5rem;
	margin: 0;
}

.job {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0;
}

/* Skills */

.skills {
	flex: 1;
	border-left: solid 2px #ead8a7;
	padding-left: 60px;
}

.skills__title {
	margin-left: 200px;
	font-size: 1.8rem;
	text-transform: uppercase;
}

.skills__lists {
	display: flex;
	gap: 35px;
}

/* Main info */

.main__info {
	display: flex;
	padding: 50px;
}

.main__info-left {
	margin-right: 60px;
}

.main__info-right {
	padding-left: 60px;
	border-left: solid 2px #dadbd7;
}

/* Education */

.education {
}

.education__title {
	font-size: 1.8rem;
	text-transform: uppercase;
}

.education__content__inner {
	display: flex;
	gap: 20px;
}

.education__content__inner__dates {
	margin-top: 21px;
}

.education__content__inner__title {
	font-size: 1.2rem;
}

.education__content__inner__text {
	font-size: 1rem;
	width: 400px;
	text-align: justify;
	text-justify: inter-word;
}

/* Experience */

.experience {
}
