body {
	background-color: #e4e5e0;
	font-family: "Urbanist", sans-serif;
	color: #33331d;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Contacts */

.contacts {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	background-color: #84a268;
	width: fit-content;
	padding: 20px 40px;
	border-radius: 10px;
	gap: 70px;
}

.contacts__inner {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	gap: 2px;
}

.contacts__icon {
	margin-right: 10px;
	height: 20px;
	background-color: #d3c18f;
	border-radius: 7px;
	padding: 10px;
}

.contacts__inner-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0px;
	color: #e5f1da;
}

.contacts__inner-content__title,
.contacts__inner-content__text {
	margin: 0;
}

.contacts__inner-content__text--link {
	color: #e5f1da;
	text-decoration: none;
}

/* Pfp image */

.pfp {
	background-color: #d3c18f;
	padding: 60px;
	border-bottom-left-radius: 30%;
}

.pfp__image {
	width: 150px;
	height: 150px;
	border-radius: 40%;
	border: solid 4px #ead8a7;
}
